
@{
	ViewBag.Title = "Game";
}
<head>
	<link href="~/Content/bootstrap.css" type="text/css" />
	<style type="text/css">
		#container {
			height: auto;
			width: auto;
		}

		.quarterScores {
			border: 1px solid black;
			width: auto;
			height: auto;
		}

		.scoreArea {
			margin-top: 10px;
			padding: 20px;
			width: 100%;
			height: auto;
			border: 1px solid black;
		}

		.team1Area {
			margin-top: 10px;
			width: 50%;
			height: auto;
			border: 1px solid black;
			float: left;
			padding: 1%;
		}

		.team2Area {
			margin-top: 10px;
			width: 50%;
			height: auto;
			border: 1px solid black;
			float: right;
			padding: 1%;
		}

		.team1InputArea {
			margin-top: 10px;
			width: 50%;
			height: auto;
			border: 1px solid black;
			float: left;
			padding: 1%;
		}

		.team2InputArea {
			margin-top: 10px;
			width: 50%;
			height: auto;
			border: 1px solid black;
			float: right;
			padding: 1%;
		}

		td {
			text-align: center;
			font-size: 8pt;
		}
	</style>
</head>
<body>
	<div id="container">
		<div class="scoreArea">
			<!---------open area for scoreArea---------------------------------------------->
			<div class="row">
				<!--row for select teams and reset button-->
				<div class="col" style="text-align:left;">
					<form action="./" method="GET">
						<select name="team1Select">
							<option value="default">Pick A Team</option>
							<option value="atl">Atlanta Falcons</option>
							<option value="az">Arizona Cardinals</option>
							<option value="blt">Baltimore Ravens</option>
							<option value="car">Carolina Panthers</option>
							<option value="chi">Chicago Bears</option>
							<option value="cin">Cinncinati Bengals</option>
							<option value="cle">Cleveland Browns</option>
							<option value="dal">Dallas Cowboys</option>
							<option value="den">Denver Broncos</option>
							<option value="det">Datroit Lions</option>
							<option value="gb">Green Bay Packers</option>
							<option value="hou">Houston Texans</option>
							<option value="ind">Indianapolis Colts</option>
							<option value="jck">Jacksonville Jaguars</option>
							<option value="kc">Kansas City Chiefs</option>
							<option value="lac">Los Angeles Chargers</option>
							<option value="lar">Los Angeles Rams</option>
							<option value="mai">Miami Dolphins</option>
							<option value="mn">Minnesota Vikings</option>
							<option value="ne">New England Patriots</option>
							<option value="no">New Orleans Saints</option>
							<option value="nyg">New York Giants</option>
							<option value="nyj">New York Jets</option>
							<option value="oak">Oakland Raiders</option>
							<option value="phi">Philadelphia Eagles</option>
							<option value="pit">Pittsburgh Steelers</option>
							<option value="sea">Seattle Seahawks</option>
							<option value="sf">San Francisco 49ers</option>
							<option value="tb">Tampa Bay Buccaneers</option>
							<option value="tn">Tenessee Titans</option>
							<option value="wsh">Washington Redskins</option>
						</select>
					</form>
				</div>
				<div class="col" style="text-align:center;">
					<button id="reset" type="reset">Reset</button>
				</div>
				<div class="col" style="text-align: right;">
					<form action="./" method="GET">
						<select name="team1Select" >
							<option value="default">Pick A Team</option>
							<option value="atl">Atlanta Falcons</option>
							<option value="az">Arizona Cardinals</option>
							<option value="blt">Baltimore Ravens</option>
							<option value="car">Carolina Panthers</option>
							<option value="chi">Chicago Bears</option>
							<option value="cin">Cinncinati Bengals</option>
							<option value="cle">Cleveland Browns</option>
							<option value="dal">Dallas Cowboys</option>
							<option value="den">Denver Broncos</option>
							<option value="det">Datroit Lions</option>
							<option value="gb">Green Bay Packers</option>
							<option value="hou">Houston Texans</option>
							<option value="ind">Indianapolis Colts</option>
							<option value="jck">Jacksonville Jaguars</option>
							<option value="kc">Kansas City Chiefs</option>
							<option value="lac">Los Angeles Chargers</option>
							<option value="lar">Los Angeles Rams</option>
							<option value="mai">Miami Dolphins</option>
							<option value="mn">Minnesota Vikings</option>
							<option value="ne">New England Patriots</option>
							<option value="no">New Orleans Saints</option>
							<option value="nyg">New York Giants</option>
							<option value="nyj">New York Jets</option>
							<option value="oak">Oakland Raiders</option>
							<option value="phi">Philadelphia Eagles</option>
							<option value="pit">Pittsburgh Steelers</option>
							<option value="sea">Seattle Seahawks</option>
							<option value="sf">San Francisco 49ers</option>
							<option value="tb">Tampa Bay Buccaneers</option>
							<option value="tn">Tenessee Titans</option>
							<option value="wsh">Washington Redskins</option>
						</select>
					</form>
				</div>
			</div> <!---close team select/reset row------>



			<div class="row">
				<!------row for logos, team name, and quarter score card-->
				<div class="col-sm-3" style="align-content:center; text-align:center;">
					<img id=" "team1Logo" src="~/Content/images/nfl.png" style="width:200px; height: 200px;" /> <br />
					<label id="team1Name">Team 1 Name</label>
				</div>
				<div class="col-sm-6" style="align-content:center; margin: auto 0;">
					<div class="quarterScores">
						<table class="table table-bordered table-responsive-sm">
							<thead>
								<tr>
									<th></th>
									<th>Q1</th>
									<th>Q2</th>
									<th>Q3</th>
									<th>Q4</th>
									<th>OT</th>
									<th>Final</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="font-size: 12pt;"><label id="team1ScoreNameLbl">team 1 name</label></td>
									<td style="font-size: 12pt;"><label id="team1Q1Score"></label></td>
									<td style="font-size: 12pt;"><label id="team1Q2Score"></label></td>
									<td style="font-size: 12pt;"><label id="team1Q3Score"></label></td>
									<td style="font-size: 12pt;"><label id="team1Q4Score"></label></td>
									<td style="font-size: 12pt;"><label id="team1OTScore"></label></td>
									<td style="font-size: 12pt;"><label id="team1FinalScore"></label></td>
								</tr>
								<tr>
									<td style="font-size: 12pt;"><label id="team2ScoreNameLbl">team 2 name</label></td>
									<td style="font-size: 12pt;"><label id="team2Q1Score"></label></td>
									<td style="font-size: 12pt;"><label id="team2Q2Score"></label></td>
									<td style="font-size: 12pt;"><label id="team2Q3Score"></label></td>
									<td style="font-size: 12pt;"><label id="team2Q4Score"></label></td>
									<td style="font-size: 12pt;"><label id="team2OTScore"></label></td>
									<td style="font-size: 12pt;"><label id="team2FinalScore"></label></td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
				<div class="col-sm-3" style="align-content:center; text-align:center;">
					<img id="team2Logo" src="~/Content/images/nfl.png" style="width:200px; height: 200px;" /> <br />
					<label id="teamName">Team 2 Name</label>
				</div>
			</div> <!------close row for logos, team names, and score card-->



			<div class="row">
				<!---open row for team score, quarter selection----->
				<div class="col col-sm-3" style="text-align:center">
					<label id="team1CurrentScore">0</label>
				</div>
				<div class="col-sm-6" style="align-content:center; text-align:center;">
					<form action="">
						<label class="radio-inline">
							<input type="radio" name="q1RButton" value="q1"> Q1<br>
						</label>
						<label class="radio-inline">
							<input type="radio" name="q2RButton" value="q2"> Q2<br>
						</label>
						<label class="radio-inline">
							<input type="radio" name="q3RButton"> Q3<br>
						</label>
						<label class="radio-inline">
							<input type="radio" name="q4RButton"> Q4<br>
						</label>
						<label class="radio-inline">
							<input type="radio" name="otRButton"> OT<br>
						</label>
						<label class="radio-inline">
							<input type="radio" name="finalRButton"> Final<br>
						</label>
					</form>
				</div>
				<div class="col col-sm-3" style="text-align:center">
					<label id="team2CurrentScore">0</label>
				</div>
			</div><!---close row for team score, quarter selection----->

		</div> <!-----close score area-------------------------------------------------------------->


		<div class="team1Area">
			<!----open team1 Area------------------------------------------------------------------->
			<label id="team1StatsAreaName">Team 1 Name</label>
			<form>
				<fieldset>
					<legend>Statistics</legend>
					<div class="col">
						<table class="table table-bordered table-responsive-sm">
							<tbody>
								<tr>
									<td>Touchdowns: <label id="team1TocuhdownLbl">0</label></td>
									<td>Field Goals: <label id="team1FieldGoalLbl">0</label></td>
								</tr>
								<tr>
									<td>Passing Yards: <label id="team1PassYardsLbl">0</label></td>
									<td>First Downs: <label id="team1FirstDownLbl">0</label></td>
								</tr>
								<tr>
									<td>Completed Passes: <label id="team1PassComLbl">0</label></td>
									<td>Intercepted Passes: <label id="team1PassIntLbl">0</label></td>
								</tr>
								<tr>
									<td>Sacks: <label id="team1SackLbl">0</label></td>
									<td>Yards Lost: <label id="team1YardLostLbl">0</label></td>
								</tr>
								<tr>
									<td>Punts: <label id="team1PuntLabel">0</label></td>
									<td>Fumbles: <label id="team1FumbleLbl">0</label></td>
								</tr>
								<tr>
									<td>Rushes: <label id="team1RushLabel">0</label></td>
									<td>Rushing Yards: <label id="team1RushYardsLbl">0</label></td>
								</tr>
								<tr>
									<td>Penalties: <label id="team1PenLbl">0</label></td>
									<td>Penalty Yards: <label id="team1PenYardsLbl">0</label></td>
								</tr>
								<tr></tr>
							</tbody>
						</table>
							
					</div>
				</fieldset>
			</form>
		</div> <!-----close team 1 area------------------------------------------------------------->


		<div class="team2Area">
			<!---open team 2 Area------------------------------------------------------------------->
			<label id="team1StatsAreaName">Team 2 Stats</label>
			<form>
				<fieldset>
					<legend>Statistics</legend>
					<div class="col">
						<table class="table table-bordered table-responsive-sm">
							<tbody>
								<tr>
									<td>Touchdowns: <label id="team2TocuhdownLbl">0</label></td>
									<td>Field Goals: <label id="team2FieldGoalLbl">0</label></td>
								</tr>
								<tr>
									<td>Passing Yards: <label id="team2PassYardsLbl">0</label></td>
									<td>First Downs: <label id="team2FirstDownLbl">0</label></td>
								</tr>
								<tr>
									<td>Completed Passes: <label id="team2PassComLbl">0</label></td>
									<td>Intercepted Passes: <label id="team2PassIntLbl">0</label></td>
								</tr>
								<tr>
									<td>Sacks: <label id="team2SackLbl">0</label></td>
									<td>Yards Lost: <label id="team2YardLostLbl">0</label></td>
								</tr>
								<tr>
									<td>Punts: <label id="team2PuntLabel">0</label></td>
									<td>Fumbles: <label id="team2FumbleLbl">0</label></td>
								</tr>
								<tr>
									<td>Rushes: <label id="team2RushLabel">0</label></td>
									<td>Rushing Yards: <label id="team2RushYardsLbl">0</label></td>
								</tr>
								<tr>
									<td>Penalties: <label id="team2PenLbl">0</label></td>
									<td>Penalty Yards: <label id="team2PenYardsLbl">0</label></td>
								</tr>
								<tr></tr>
							</tbody>
						</table>
					</div>



				</fieldset>
			</form>
		</div> <!-----close team 2 area-------------------------------------------------------------->

		<div class="team1InputArea">
			<fieldset>
				<legend>Input</legend>
				<table class="table table-bordered table-responsive-sm">
					<tbody>
						<tr>
							<td><button id="team1Touchdown">Touchdown</button></td> <!--adds points to total score, counter label+= 6-->
							<td><button id="team1ExtraPoint">Extra Point</button></td> <!--adds one point to score-->
							<td><button id="team1FieldGoal">Field Goal</button></td> <!--adds 3 pts to score, field goal count++-->
							<td><button id="team1FirstDown">First Down</button></td> <!-- first down count++-->
						</tr>
						<tr>
							<td><button id="team1PassCom">Pass Completed</button></td> <!--pass completed lbl ++-->
							<td><button id="team1PassInt">Pass Intercepted</button></td> <!-- pass intercepted lbl++-->
							<td>Passing Yards: <input size="2" id="team1PassYardsInput"></td>	<!--add input to total passing yard stat-->
							<td><button id="team1Fumble">Fumble</button></td> <!--fumble lbl++-->
						</tr>
						<tr>
							<td><button id="team1Punt">Punt</button></td><!--counter for punts++-->
							<td>Punt Yards: <input size="2" type="text" name="team1PuntYardInput"></td> <!--add input value to current punt yards total-->
							<td><button id="team1Penalty">Penalty</button></td> <!--penalty count++-->
							<td>Penalty Yards: <input size="2" ; type="text" name="team1PenaltyYardsInput"></td> <!--add value to current penalty yards total-->
						</tr>
						<tr>
							<td><button id="team1sack">Sack</button></td> <!--team 1 sack counter++-->
							<td>Yards Lost: <input size="2" type="text" name="team1YardsLostInput"></td> <!--add input value to current yards lost yards total-->
							<td><button id="team1RushAtt">Rush Att</button></td> <!--penalty count++-->
							<td>Rush Yards: <input size="2" ; type="text" name="team1RushYardsInput"></td> <!--add value to current rush yards total-->
						</tr>
					</tbody>
				</table>
				<input type="submit" value="Submit">
				</fieldset>
		</div>

		<div class="team1InputArea">
			<fieldset>
				<legend>Input</legend>
				<table class="table table-bordered table-responsive-sm">
					<tbody>
						<tr>
							<td><button id="team2Touchdown">Touchdown</button></td> <!--adds points to total score, counter label+= 6-->
							<td><button id="team2ExtraPoint">Extra Point</button></td> <!--adds one point to score-->
							<td><button id="team2FieldGoal">Field Goal</button></td> <!--adds 3 pts to score, field goal count++-->
							<td><button id="team2FirstDown">First Down</button></td> <!-- first down count++-->
						</tr>
						<tr>
							<td><button id="team2PassCom">Pass Completed</button></td> <!--pass completed lbl ++-->
							<td><button id="team2PassInt">Pass Intercepted</button></td> <!-- pass intercepted lbl++-->
							<td>Passing Yards: <input size="2" id="team2PassYardsInput"></td>	<!--add input to total passing yard stat-->
							<td><button id="team2Fumble">Fumble</button></td> <!--fumble lbl++-->
						</tr>
						<tr>
							<td><button id="team2Punt">Punt</button></td><!--counter for punts++-->
							<td>Punt Yards: <input size="2" type="text" name="team2PuntYardInput"></td> <!--add input value to current punt yards total-->
							<td><button id="team2Penalty">Penalty</button></td> <!--penalty count++-->
							<td>Penalty Yards: <input size="2" ; type="text" name="team2PenaltyYardsInput"></td> <!--add value to current penalty yards total-->
						</tr>
						<tr>
							<td><button id="team2sack">Sack</button></td> <!--team 1 sack counter++-->
							<td>Yards Lost: <input size="2" type="text" name="team2YardsLostInput"></td> <!--add input value to current yards lost yards total-->
							<td><button id="team2RushAtt">Rush Att</button></td> <!--penalty count++-->
							<td>Rush Yards: <input size="2" ; type="text" name="team2RushYardsInput"></td> <!--add value to current rush yards total-->
						</tr>
					</tbody>
				</table>
				<input type="submit" value="Submit">
			</fieldset>
		</div>
	</div> <!-----close container---------->

</body>


